[Unit]
Description=Restart libvirt if cannot allocate memory

[Service]
User=root
Group=root
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/restart-libvirtd.sh
